/* styles.css */

.LeftSide {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.TopHalf {
    height: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin: 50px;
}


.RightSide {
    width: 50%;
    background-color: lightgray;
}



/* Styles for the wrapping div of the top half */


/* Styles for the div wrapping the buttons */
.buttonContainer {
    display: flex;
    justify-content: center;
    /* Horizontally center the buttons */
    align-items: center;
    /* Vertically center the buttons */
    height: 100%;
    /* Add this to make the container take up full height of the top half */
}